


.container{
    display: grid;
    place-items: center;
    margin-top: 10rem;
}


.inner-container{
    background-color: whitesmoke;
    padding: 3rem 4rem;
}

h1{
    text-transform: uppercase;
}

p{
    text-align: left;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
}